<table>
  <tr>
    <tr>Название команды: <%= @about_command.name%></tr>
      <td>О команде: <%= @about_command.description%></td>
      <td>Логогип команды: <%= image_tag @about_command.avatar.url(:thumb) %></td>
   </tr>
</table>

<div>Участники команды</div>

<% @all_command_participants.each do |participant| %>
<table>
  <tr>
    <td><%= participant.role.name %>: <%= link_to participant.name , about_user_path(participant) %> </td>
  </tr>
<% end %>
</table>

<br>
<div>Достижения команды</div>
<% @about_command.achievements.each do |achievement| %>
<table>
  <tr>
    <td><%= achievement.name%></td><br>
    <td><%= achievement.description %></td>
    <td><%= image_tag achievement.avatar.url(:thumb) %></td>
  </tr>
<% end %>
</table>