<div>Участники в команде</div>
<%= link_to 'Операторы', in_commands_operators_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Продюсеры', in_commands_producers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Звукорежиссёры', in_commands_sound_directors_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Осветители', in_commands_lighters_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Редакторы', in_commands_editors_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Актёры', in_commands_actors_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'pr-менеджеры', in_commands_pr_managers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Гримёры', in_commands_makeups_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Композиторы', in_commands_composers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Сценаристы', in_commands_writers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Фотографы', in_commands_photographers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Спонсоры', in_commands_sponsors_path, class: 'btn btn-default navbar-btn' %>