<div>Участники без команды</div>
<%= link_to 'Операторы', no_commands_operators_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Продюсеры', no_commands_producers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Звукорежиссёры', no_commands_sound_directors_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Осветители', no_commands_lighters_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Редакторы', no_commands_editors_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Актёры', no_commands_actors_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'pr-менеджеры', no_commands_pr_managers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Гримёры', no_commands_makeups_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Композиторы', no_commands_composers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Сценаристы', no_commands_writers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Фотографы', no_commands_photographers_path, class: 'btn btn-default navbar-btn' %>
<%= link_to 'Спонсоры', no_commands_sponsors_path, class: 'btn btn-default navbar-btn' %>