<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <%= link_to root_path do %>
            <%= image_tag 'логотип на главной.jpg', height: '250', width: '900' %>
        <% end %>
      </ul>
      <ul class="navbar-nav navbar-left">
        <%= link_to 'Команды', commands_path, class: 'btn btn-default navbar-btn' %>
        <%= link_to 'Видео', movies_path, class: 'btn btn-default navbar-btn' %>
        <%= link_to 'Участники', participants_path, class: 'btn btn-default navbar-btn' %>
        <%= link_to 'Контакты', contacts_path, class: 'btn btn-default navbar-btn' %>
        <%= link_to 'Помочь проекту', help_project_path, class: 'btn btn-default navbar-btn' %>
        <%= link_to image_tag("youtube.png", :size => '30x30'), 'http://www.youtube.com', class: 'btn btn-default navbar-btn' %>
        <%= link_to image_tag("инстаграм.jpg", :size => '30x30'), 'https://www.instagram.com/kakvkino.club/', class: 'btn btn-default navbar-btn' %>
        <%= link_to image_tag("вк.jpg", :size => '30x30'), 'https://vk.com/public103899884', class: 'btn btn-default navbar-btn' %>
        <%= link_to image_tag("ок.png", :size => '30x30'), 'https://www.ok.ru/molodezhnytsentr.kbkvntamashow', class: 'btn btn-default navbar-btn' %>
        <%= link_to image_tag("фейсбук.png", :size => '30x30'), 'https://www.facebook.com/%D0%9A%D0%B0%D0%BA-%D0%B2-%D0%9A%D0%98%D0%9D%D0%9E-808950895951755/', class: 'btn btn-default navbar-btn' %>
        <% if user_signed_in? %>
            <p class="navbar-text">
              Привет, <%= link_to current_user.name, about_user_path(current_user.id) %>!
            </p>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Аккаунт <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Редактировать профиль', edit_user_registration_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <%= link_to 'Войти', new_user_session_path, class: 'btn btn-default navbar-btn' %>
                </ul>
              </li>
            </ul>
        <% end %>
      </ul>
    </div>
  </div>
</nav>